
/* template */
.sites{
    border-bottom: 3px solid chocolate;
    background-color: var(--ui-themeBgColor2);
    box-shadow: 0px 2px 10px #414141;
	margin-bottom: 10px;
}

#webadminconsole_sites div.site_tag{
    color:white;
    background-color: var(--ui-themeBgColor);
    border-color: slategray;
    box-shadow: 2px 2px 5px #0c1543;
    text-shadow:none;
}

#webadminconsole_sites div.site_tag > a {
    background-color: var(--webadmin-dark-bgColor);
}

#webadminconsole_sites div.site_tag div a {
	color:white;
}

#webadminconsole_sites div.site_unsecured div a {
	color:navajowhite;
}

#webadminconsole_sites div.site_unsecured {
    background-color:chocolate !important;
}

