body {
    margin:0px;
    padding:0px;
}


body {
    display:flex;
    flex-direction: column;
    height:100vh;
}	







/* template */
.actions {
    margin-top:6px;
}

.sites{
    background-color:#F0F0F0;
    padding:10px;
    border-bottom:1px solid #888;
    box-shadow:0px 1px 3px #d9d9d9;
}

#webadminconsole_sites{
    display:flex;
    flex-wrap: wrap;
}

#webadminconsole_sites div.site_tag {
    border: 1px solid #bbb;
    background-color: /*lightgreen;gainsboro;*/floralwhite;
    margin-bottom: 10px;
    margin-right: 20px;
    display:flex;
    flex-direction: column;
    font-weight:bold;
    color:#999;
    box-shadow: 2px 2px 5px lightgray;
}

#webadminconsole_sites div.site_tag > a {
    display:flex;
    align-items: center;
    background-color: cadetblue;
    color:white;
    cursor: pointer;
}

#webadminconsole_sites div.site_tag > a img {
    margin-right: 4px;
}


#webadminconsole_sites div.site_tag > a span {
    margin-right: 4px;
}

#webadminconsole_sites div.site_tag div {
    font-weight: normal;
    font-size:0.8em;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 2px;
}

#webadminconsole_sites div.site_tag div.alert {
    color:yellow !important;
    font-weight: bold;
    background-color: firebrick !important;
    padding: 2px 4px;
    margin-bottom: 0px;
}

#webadminconsole_sites div.site_process{
    background-color:darkorange !important;
}

#webadminconsole_sites div.site_tag div a {
    color:darkblue;
}

#webadminconsole_sites div.site_unsecured {
    background-color:gold !important;
}

.webadminconsole_iframe{
    border:0px;
    flex-grow: 1;
}

#site_iframe {
    flex-grow: 1;
    display: flex;
}


@media screen and (max-width:1023px) {
    #webadminconsole_sites .width_gt_1024{
        display:none;
        visibility:hidden;
    }
}


@media screen and (min-width:1024px) {
    #webadminconsole_sites .width_lt_1024{
        display:none;
        visibility:hidden;
    }
}



@media screen and (min-width:1024px) and (max-width:1399px) {
    #webadminconsole_sites {
        font-size:11px;
    }
}


